{% extends "base.html" %}
{% block title %}New Menu Item{% endblock%}
{% block content %}
<nav class="navbar navbar-default">
		<div class="navbar-header"><a class="navbar-brand aa" href="/restaurants/">Restaurants</a></div>
		<div class="navbar-nav" ><a class="navbar-brand" href="http://localhost:8000/gdisconnect">Logout</a></div>
		</nav>
<H2>New Menu Item</H2>
	<form action = "{{ url_for('newMenuItem', restaurant_id = restaurant_id)}}" method = 'post'>
		Item Name:<input type = "text" class="form-control" name = "name" size = '30' ><br>
		Desciption:<input type="text" class="form-control" name="des" value="Nil"><br>
		Course:<input type="text" class="form-control" name="course" value="Nil"><br>
		price:<input type="text" class="form-control" name="price" value="Nil"><br>
		<input class="btn" type="submit" name="Create">
		<a class="btn" href="{{url_for('showRestaurants')}}">No</a>
	</form>
	<div style="color: red"><b>{{msg}}<b></div>
{% endblock %}